<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/bcontext"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 <bean class="org.capg.springcore_collections.Order" name="order" 
 p:orderId="123" p:ordername="phone" p:orderCity="Bangalore" />
 
 <bean class="org.capg.springcore_collections.Order" name="orderone" 
 p:orderId="156" p:ordername="watch" p:orderCity="delhi" />
 
   <bean class="org.capg.springcore_collections.Emp" name="emp">
	 <property name="name" value="Sachin" />
	 <property name="phones">
	 <list>
	 	<value>8917306079</value>
	 	<value>9938306079</value>
	 	<value>8788375455</value>
	 </list>
	 </property>
	 <property name="address">
	 <set>
	 	<value>bangalore</value>
	 	<value>hyderabad</value>
	 	<value>kolkata</value>
	 </set>
	 </property>
	 <property name="courses">
	 <map>
	 <entry key="java" value="1 month"/>
	  <entry key="python" value="2 month"/>
	   <entry key="Scala" value="1.2 month"/>
	    <entry key="C++" value="1.5 month"/>
	 	
	 </map>
	 </property>
	 
	 
	 </bean>
 
 
 </beans>